{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>

        <div class="content">
            {% for book in books %}
              <div class="phone">
                <a href="{% url 'pub_date_book' book.pub_date|date:'Y-m-d' %}">
                  <h3>{{ book.name }}</h3>
                </a>
                <div class="author">Автор: {{ book.author }} </div>
                <div class="pub_date">Дата публикации: {{ book.pub_date|date:'Y-m-d' }} </div>
              </div>
            {% endfor %}
          </div>

        <!-- <div class="row">
            <div class="book col-md-4">
                <h2>Сияние</h2>
                <p>Автор: Стивен Кинг</p>
                <p>Дата публикации: 2018-09-10</p>
            </div>
            <div class="book col-md-4">
                <h2>1984</h2>
                <p>Автор: Джордж Оруэл</p>
                <p>Дата публикации: 2015-03-11</p>
            </div>
        </div>
    </div> -->
{% endblock %}